<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title}}</title>


    {{! FONTS }}

    {{!-- REMOVELINE
    <link rel="preload" href="TARGET='Cabin 95x Web'" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="TARGET='Crimson Pro Web'" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="TARGET='Source Sans 3 Web'" as="font" type="font/woff2" crossorigin>

    {{#post}}

        {{#has tag="#format-poem"}}
            <link rel="preload" href="TARGET='Lora Web'" as="font" type="font/woff2" crossorigin>
        {{/has}}

        {{#has tag="#plugin-prism"}}
            <link rel="preload" href="TARGET='JetBrains Mono Web'" as="font" type="font/woff2" crossorigin>
        {{/has}}

    {{/post}}
    REMOVELINE --}}


    {{! STYLESHEETS }}

    {{#post}}

        {{! https://katex.org/docs/browser }}
        {{#has tag="#plugin-katex"}}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.33/dist/katex.min.css" integrity="sha384-fgYS3VC1089n2J3rVcEbXDHlnDLQ9B2Y1hvpQ720q1NvxCduQqT4JoGc4u2QCnzE" crossorigin="anonymous" referrerpolicy="no-referrer" media="print" onload="this.media='all'">
        {{/has}}

        {{! https://prismjs.com/download }}
        {{#has tag="#plugin-prism"}}
            <link rel="stylesheet" href="/public/prism.min.css" media="print" onload="this.media='all'">
        {{/has}}

    {{/post}}

    <link rel="stylesheet" href="{{asset "built/screen.css"}}">


    {{! GHOST HEAD }}

    {{! https://www.spectralwebservices.com/blog/adding-new-features-to-ghost-head/ }}
    {{ghost_head exclude="social_data"}}


    {{! STYLE INJECTION }}

    {{#tag}}
        {{#match slug "essays"}}<style>:root{--ghost-accent-color:#008F8F;}</style>{{/match}}
        {{#match slug "stories-poems-songs"}}<style>:root{--ghost-accent-color:#006691;}</style>{{/match}}
    {{/tag}}

    {{#post}}
        {{#match primary_tag.slug "essays"}}<style>:root{--ghost-accent-color:#008F8F;}</style>{{/match}}
        {{#match primary_tag.slug "stories-poems-songs"}}<style>:root{--ghost-accent-color:#006691;}</style>{{/match}}
    {{/post}}

</head>


<body class='{{body_class}}{{{block "body_class"}}} is-head-left-logo'>
<div class="site">

    <header id="gh-head" class="gh-head gh-outer">
        <div class="gh-head-inner gh-inner">

            <div class="gh-head-brand">
                <div class="gh-head-brand-wrapper">
                    <a class="gh-head-logo" href="{{@site.url}}">
                        {{@site.title}}
                    </a>
                </div>
                <button class="gh-burger" aria-label="Toggle menu"></button>
            </div>

            <nav class="gh-head-menu">
                {{navigation}}
            </nav>

        </div>
    </header>

    <div class="site-content">
        {{{body}}}
    </div>

</div>


<script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js" integrity="sha512-/DXTXr6nQodMUiq+IUJYCt2PPOUjrHJ9wFrqpJ3XkgPNOZVfMok7cRw6CSxyCQxXn6ozlESsSh1/sMCTF1rL/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script defer src="{{asset "built/main.min.js"}}"></script>

{{#post}}

    {{#has tag="#plugin-katex"}}
        <script defer="defer" src="https://cdn.jsdelivr.net/npm/katex@0.16.33/dist/katex.min.js" integrity="sha384-YPHNAPyrxGS8BNnA7Q4ommqra8WQPEjooVSLzFgwgs8OXJBvadbyvx4QpfiFurGr" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script defer="defer" src="https://cdn.jsdelivr.net/npm/katex@0.16.33/dist/contrib/auto-render.min.js" integrity="sha384-JKXHIJf8PKPyDFptuKZoUyMRQJAmQKj4B4xyOca62ebJhciMYGiDdq/9twUUWyZH" crossorigin="anonymous" referrerpolicy="no-referrer" onload="renderMathInElement(document.body);"></script>
    {{/has}}

    {{#has tag="#plugin-prism"}}
        <script defer="defer" src="/public/prism.min.js"></script>
    {{/has}}

{{/post}}


{{ghost_foot}}


</body>
</html>
