<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title}}</title>

    <link rel="preload" href="/assets/fonts/cabin95x_r_400-700.v1.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/crimsonpro_r_500-700.v1.woff2" as="font" type="font/woff2" crossorigin>
    {{#post}}
        {{#has tag="#format-poem"}}
            <link rel="preload" href="/assets/fonts/lora_r_500.v3.woff2" as="font" type="font/woff2" crossorigin>
        {{/has}}
        {{#has tag="#format-code"}}
            <link rel="preload" href="/assets/fonts/jetbrainsmono-nl_r_500.v1.woff2" as="font" type="font/woff2" crossorigin>
        {{/has}}
    {{/post}}
    <link rel="preload" href="/assets/fonts/sourcesans_r_400-600.v1.woff2" as="font" type="font/woff2" crossorigin>

    <link rel="stylesheet" href="{{asset "built/screen.css"}}">
    {{#post}}
        {{#has tag="#format-code"}}
            <link rel="stylesheet" href="/public/prism.min.css">
        {{/has}}
    {{/post}}

    {{ghost_head exclude="social_data"}}

    {{#tag}}
        {{#match slug "essays"}}<style>:root{--ghost-accent-color:#008F8F;}</style>{{/match}}
        {{#match slug "stories-poems-songs"}}<style>:root{--ghost-accent-color:#006691;}</style>{{/match}}
    {{/tag}}

    {{#post}}
        {{#match primary_tag.slug "essays"}}<style>:root{--ghost-accent-color:#008F8F;}</style>{{/match}}
        {{#match primary_tag.slug "stories-poems-songs"}}<style>:root{--ghost-accent-color:#006691;}</style>{{/match}}
    {{/post}}

</head>

<body class='{{body_class}}{{{block "body_class"}}} is-head-left-logo'>
<div class="site">

    <header id="gh-head" class="gh-head gh-outer">
        <div class="gh-head-inner gh-inner">

            <div class="gh-head-brand">
                <div class="gh-head-brand-wrapper">
                    <a class="gh-head-logo" href="{{@site.url}}">
                        {{@site.title}}
                    </a>
                </div>
                <button class="gh-burger" aria-label="Toggle menu"></button>
            </div>

            <nav class="gh-head-menu">
                {{navigation}}
            </nav>

        </div>
    </header>

    <div class="site-content">
        {{{body}}}
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js" integrity="sha512-/DXTXr6nQodMUiq+IUJYCt2PPOUjrHJ9wFrqpJ3XkgPNOZVfMok7cRw6CSxyCQxXn6ozlESsSh1/sMCTF1rL/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{asset "built/main.min.js"}}"></script>
{{#post}}
    {{#has tag="#format-code"}}
        <script src="/public/prism.min.js"></script>
    {{/has}}
{{/post}}

{{ghost_foot}}

</body>
</html>
